<launch>

  <arg name="path" default="/home/Datasets/"/>
  <arg name="visualize" default="true"/>

  <arg name="dataset_type" default="livox"/>
  <arg name="fusion" default="true"/>
  <arg name="radar" default="true"/>
  <arg name="lidar" default="false"/>
  <arg name="egovelocity" default="false"/>
  <arg name="point_algorithm" default="fov"/>
  <arg name="bag_rate" default="0.5"/>


  <!-- KISS-ICP odometry node 1 - oculii radar -->
  <include if="$(arg radar)" file="$(find kiss_icp)/launch/odometry.launch">
    <arg if="$(eval arg('dataset_type') == 'livox')" name="topic" value="/radar_enhanced_pcl2"/>
    <arg if="$(eval arg('dataset_type') == 'ouster')" name="topic" value="/hugin_raf_1/radar_data"/>
  </include>

  <!-- KISS-ICP odometry node 2 - livox lidar -->
  <include if="$(arg lidar)" file="$(find genz_icp)/launch/odometry.launch">
    <arg if="$(eval arg('dataset_type') == 'livox')" name="topic" value="/livox/points"/> 
    <arg if="$(eval arg('dataset_type') == 'ouster')" name="topic" value="/ouster/points"/>
    <arg if="$(eval arg('dataset_type') == 'ouster128')" name="topic" value="/ouster/points"/>
  </include>

  <!-- Static transforms and smoke algorithm -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_tf" args="0 0 0 0 0 0 base_link odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_tf2" args="0 0 0 0 0 0 base_link livox_frame" />
  <node if="$(eval arg('point_algorithm') == 'fov')" pkg="detection_alg" type="detection.py" name="detection_node" output="screen">
    <param name="mode" value="$(arg dataset_type)"/>
  </node>

  <node if="$(eval arg('point_algorithm') == 'kdtree')" pkg="kdtree_detection_alg" type="detection.py" name="detection_node" output="screen">
    <param name="mode" value="$(arg dataset_type)"/>
  </node>

  <!-- Visualizer -->
  <group if="$(arg visualize)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kiss_icp)/rviz/kiss_icp_ros1.rviz"/>
    <node pkg="detection_alg" type="text_marker.py" name="text_marker_node" output="screen"/>
  </group>

  
  <group if="$(arg fusion)">
    <node pkg="detection_alg" type="covariances.py" name="covariance_node" output="screen">
      <param name="invert" value="True"/>
    </node>
    <node pkg="detection_alg" type="restart_nodes.py" name="restart_node" output="screen"> 
      <!-- Initializes genz by default -->
      <param name="mode" value="$(arg dataset_type)"/>
    </node>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />

      <remap from="odometry/filtered" to="/odometry/filtered"/>
      <!--  Placeholder for input topic remapping 
      <remap from="accel/filtered" to=""/>
      -->

    </node>
  </group>
  
  <!-- Ego-velocity node -->
  <group if="$(arg egovelocity)">
    <node pkg="detection_alg" type="egovelocity.py" name="egovelocity_node" output="screen">
      <param name="publish_filtered_cloud" value="False"/>
      <param name="integrate_position" value="True"/>
      <param if="$(eval arg('dataset_type') == 'ouster')" name="doppler_field" value="doppler"/>
      <param if="$(eval arg('dataset_type') == 'livox')" name="doppler_field" value="Doppler"/>
      <param name="mode" value="$(arg dataset_type)"/>
    </node>  
  </group>


  <group if="$(eval arg('dataset_type') == 'ouster128')">
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_tf3" args="0 0 0 0 0 0 base_link os_sensor" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_tf4" args="0 0 0 1.5708 3.14 1.5708 base_link oculii" />

    <arg name = "file_0" default = "MSCRad4r/SMOKE_A0.bag"/> 
    <arg name = "file_1" default = "MSCRad4r/SMOKE_B0.bag"/>
    <node pkg="rosbag" type="play" name="player" 
        args = "--clock --rate $(arg bag_rate) $(arg path)$(arg file_0) ">
    </node>
  </group>

  <group if="$(eval arg('dataset_type') == 'ouster')">
    <arg name = "file_0" default = "Forest_Eskilstuna/Eskilstuna_Forest_0.bag"/> 
    <arg name = "file_1" default = "Forest_Eskilstuna/Eskilstuna_Forest_1.bag"/> 
    <arg name = "file_2" default = "Forest_Eskilstuna/Eskilstuna_Forest_2.bag"/> 
    <arg name = "file_3" default = "Forest_Eskilstuna/Eskilstuna_Forest_3.bag"/> 
    <arg name = "file_4" default = "Forest_Eskilstuna/Eskilstuna_Forest_4.bag"/> 
    <node pkg="rosbag" type="play" name="player" 
        args = "--clock --rate $(arg bag_rate) $(arg path)$(arg file_0) $(arg path)$(arg file_1) $(arg path)$(arg file_2) $(arg path)$(arg file_3) $(arg path)$(arg file_4)">
    </node>
  </group>

  <group if="$(eval arg('dataset_type') == 'livox')">
    <node pkg="livox_to_pointcloud2" type="livox_to_pointcloud2_node" name="livox_to_pointcloud2" output="screen">
        <remap from="/input_topic" to="/livox/lidar"/>
        <remap from="/output_topic" to="/livox/points"/>
    </node>

    <node pkg="point_cloud_converter" type="point_cloud_converter_node" name="point_cloud_converter" output="screen">
        <remap from="points_in" to="/radar_enhanced_pcl"/>
        <remap from="points2_out" to="/radar_enhanced_pcl2"/>
    </node>

    <arg name = "file_0" default = "NTU4DRadLM/smoke_2022-05-21_0.bag"/> 
    <arg name = "file_1" default = "NTU4DRadLM/smoke_2022-05-21_1.bag"/> 
    <node pkg="rosbag" type="play" name="player" 
        args = "--clock --rate $(arg bag_rate) $(arg path)$(arg file_0) $(arg path)$(arg file_1)">
    </node>
  </group>
</launch>
